<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title BLOG2021
        link(rel="stylesheet", href="/styles/styles.css")
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css")


        body 
        header.header 
           .header__col1
           .header__col2
             ul.header__col2__ul
                li.header__col2__ul__list
                    a(href="/") home
                li.header__col2__ul__list.devMenu dev
                    .subBox
                        h2 
                            a(href="/javascript") JavaScript
                        h2
                            a(href="#")  MongoDb
                        h2
                            a(href="#")  NodeJs
                        h2
                            a(href="#")  React

                li.header__col2__ul__list 
                    a(href="contact") contact

        block content
        
        footer.footer Footer 