extends ../layouts/main.pug

block content
    .home
        .homeArea1 
            section.homeArea1__quickMenu
                .homeArea1__quickMenu__box.quickBox
                    i.fab.fa-js-square
                    p JavaScript
                .homeArea1__quickMenu__box.quickBox
                    i.fas.fa-database
                    p MongoDB
                .homeArea1__quickMenu__box.quickBox
                    i.fab.fa-node-js
                    p Node.Js
                .homeArea1__quickMenu__box.quickBox 
                    i.fab.fa-react
                    p React
        .homeArea2 
            .homeArea2__col1
            .homeArea2__col2
                h1 JGM Development blog
                h2 [JavaScript] [MongoDB] [Node.Js] [React]
                h2 Welcome This Blog . If You Need Any Code .
                h2 This Blog Is Helpful. Let's Show!