.boardWrapper {
  width: 100%;
  padding: 50px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.boardWrapper .boardWrapper__titleArea {
  width: 1000px;
  height: 100px;
  margin-bottom: 40px;

  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.ta__box {
  width: 70px;
  height: 70px;

  border: 5px solid  #F8EFBA;
  box-shadow: 2px 3px 4px gray;
}

.ta__title {
  font-size: 18px;
  font-weight: bold;

  margin-left: -40px;
  margin-bottom: 30px;
}

.boardWrapper .boardWrapper__contentArea {
  width: 1000px;

  display: flex;
  flex-direction: row;

  align-items: flex-start;
  justify-content: flex-start;
}

.ca__box {
  width: 70px;
  height: 300px;

  border: 5px solid  #F8EFBA;
  box-shadow: 2px 3px 4px gray;
}

.ca__content {
  font-size: 16px;

  margin-left: -40px;
  padding: 30px 0px;
}

.boardFooter {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.boardFooter .boardFooter__infoArea {
  width: 1000px;
  height: 100px;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.boardButonArea {
  width: 1000px;
  margin: 25px 0px;

  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}

.boardButonArea .boardButtonArea__goList {
  width: 100px;
  height: 30px;

  outline: none;
  border: none;
  cursor: pointer;

  background-color:  #F8EFBA;
  color: #fff;
  border-radius: 3px;
  transition: 0.4s;

  box-shadow: 2px 3.5px 3.5px #999;
}

.boardButonArea .boardButtonArea__goList:hover {
  background-color: #fff;
  color:  #F8EFBA;
  border: 1px solid  #F8EFBA;
}
