.header {
  width: 100%;
  height: 50px;
  background-color:  black;
  color: #dfe6e9;
  
  display: flex;
  flex-direction: row;
}

.header .header__col1 { 
  width: 100%;
  height: 100%;
}

.header .header__col2 { 
  width: 450px;
  min-width: 450px;
  height: 100%;
}

.header .header__col2 .header__col2__ul { 
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.header a {
  text-decoration: none;
  color: #dfe6e9;
  cursor: pointer;
  padding: 5px;
  transition: 0.5s;
  font-family: 'Playfair Display', serif;
}

.header a:hover {
  color: hotpink;
}

.devMenu {
  height: 100%;
  cursor: pointer;
  transition: 0.5;
  margin-top: 35px;
}

.devMenu:hover .subBox {
  display: block;
}

.subBox {
  display: none;
  position: absolute;
  width: 200px;
  margin-top: 15px;
  box-shadow: 3px 3px 3px #999999;
}

.subBox:hover {
  display: block;
}

.subBox h2 {
  width: 100%;
  height: 25px;
  padding: 5px;
}

.subBox h2 a {
  text-decoration: none;
  color: palegreen;
  cursor: pointer;
  padding: 5px;
  transition: 0.5s;
  font-family: 'Playfair Display', serif;
}

header h2 a:hover {
  color: indigo;
}